.image-row {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  margin-top: 7%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3px 23px;
}

.image-sec {
  position: relative;
}
.image-item-0 {
  grid-column: 1;
  grid-row: 1/3;
}

.image-item-1 {
  grid-column: 2;
  grid-row: 1/3;
}
.image-item-2 {
  grid-column: 2;
  grid-row: 2/3;
}
.image-item-3 {
  grid-column: 3;
  grid-row: 1/3;
}
.image-item-4 {
  grid-column: 3;
  grid-row: 2/3;
}

.image-item {
  margin-top: 8px;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.image-sec:hover .inner-image-section {
  opacity: 1;
  transition: opacity 0.5s ease;

}

.inner-image-section {
  position: absolute;
  top: 30%;
  left: 32%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.image-sec:hover .image-item {
  opacity: 0.3;
  transition: opacity 0.5s ease;

}
