
  
 .card {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fff;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s;
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 42px;
 }

 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }