.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navigation-layout {
  padding-top: 2em;
  position: relative;
  display: flex;
  padding-bottom: 1.2%;

  font-family: Helvetica, sans-serif;
  line-height: 2em;

  justify-content: center;
}
.upper-layout {
  background-color: #404859;
}
.navigation-layout ul {
  width: 40%;
}

html {
  overflow-y: scroll;
}

