.form-content {
  flex: 1 1 0%;
}
.form-title {
  margin-top: 20px;
  font-size: 1.3rem;
  line-height: 1.5;
}
.form-graph-text {
}
.form-input {
  display: block;

  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 20px 10px;
  background: #f5f5f5;
}
.form-submit {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  width: 56%;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 300;
  -webkit-appearance: none;
  line-height: 1;
  display: inline-block;
  background: #166dd5;

  border-color: #166dd5;

  transition: all 0.3s ease 0s;
  margin: 20px 0px;
  padding: 16px 10px;
}

.error-info{
    color: red;
}
